Title: Brad Weslake &bull; Philosophy of Biology
Categories: teaching/2014
Template: class
Summary: An introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/biology.bib')

%heading
  %h1 Philosophy of Biology

:markdown

  ## Spring 2014

  <p align="center"><img width="100%" src="https://s3.amazonaws.com/bweslake/images/darwin_diagram.png" alt="Charles Darwin, Diagram of Divergence of Taxa"></p>
  <blockquote class="caption">Part of Darwin's &ldquo;Diagram of Divergence of Taxa&rdquo;, the only diagram in <em>On The Origin of Species</em>.  The diagram depicts &ldquo;hypothetical phylogenetic relationships, showing how lineages diverge from common ancestors and give rise to both extinct and extant species. Time intervals (between Roman numerals) represent thousands of generations. [...] Distance along the horizontal axis represents degree of divergence (as, for example, in body form). Darwin recognized that rates of evolution vary greatly, showing this by different angles in the diagram&rdquo; (Futuyma, 2009, p. 21).  Note too that the diagram displays <a href="http://dx.doi.org/10.1038/nature07894">Darwin's recognition</a> that it is the most divergent species that are most likely to survive.  For the full diagram see <a href="http://darwin-online.org.uk/content/frameset?viewtype=image&amp;itemID=F373&amp;pageseq=133">here</a>.</blockquote>

  <p><br/><a href="#details">Details</a> | <a href="#overview">Overview</a> | <a href="#textbooks">Textbooks</a> | <a href ="#assessment">Assessment</a> | <a href ="#reading">Schedule</a></p>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHL 251, PHL 251W, PHL 451</td><td><a href="http://goo.gl/AvbASj">Dewey Hall</a> 4162</td><td>Mondays and Wednesdays, 3:25pm to 4:40pm</td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.  We first examine a set of foundational questions concerning the nature and scope of the explanations provided by natural selection.  We then examine the explanatory role of genes in development.  No prior philosophy of science or biology will be assumed.

  ### Textbooks
  The following textbook is mandatory:

  > - #{bib.fullcite('godfrey-smith_2009b')}. \[[AddAll](http://goo.gl/Dw3tv7)\]

  For those without any background in evolutionary biology, the definitive textbooks are:

  > - #{bib.fullcite('futuyma_2009')}. \[[AddAll](http://goo.gl/BKNcgt)\]  
  - #{bib.fullcite('ridley_2004')}. \[[AddAll](http://goo.gl/kIjuhg)\]

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Fifteen 1&ndash;2 page weekly reading summaries.</li>
  <li>Two 8&ndash;10 page research papers. </li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries: </td><td>15% </td></tr>
  <tr><td>First Research Paper: </td><td>35% </td></tr>
  <tr><td>Second Research Paper: </td><td>50% </td></tr>
  </tbody>
  </table>

  <p><em>Note</em>: Graduate students or students enrolled for upper level writing credit will be required to write longer papers. Graduate students will also be required to do additional reading and meet for an additional discussion section.</p>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries:  </td><td>At each associated class, <em>with no exceptions</em></td></tr>
  <tr><td>First Paper:  </td><td>Thursday 6 March</td><td>Questions <span class="small">[<em>coming</em>]</span></td></tr>
  <tr><td>Second Paper:  </td><td>Tuesday 29 April</td><td>Questions <span class="small">[<em>coming</em>]</span></td></tr>
  </tbody>
  </table>

  <p>Paper guidelines <span class="small  ">[<a href="http://bweslake.s3.amazonaws.com/teaching/resources/guidelines.pdf">PDF</a>]</span></p>

  ### Schedule

  #### Meeting One: Introductory Discussion (Thursday 16 January)

  #### Meeting Two: Evolutionary Theory (Tuesday 21 January)

  #### Meeting Three: (Thursday 23 January)

  #### Meeting Four: (Tuesday 28 January)

  #### Meeting Five: (Thursday 30 January)

  *No Class Tuesday 4 February*

  #### Meeting Six:  (Thursday 6 February)

  *Updated*: 13 January 2014