Title: Brad Weslake &bull; Philosophy of Technology
Categories: teaching/2024
Template: class
Summary: A course in philosophy of technology.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/technology.bib')

%heading
  %h1 Philosophy of Technology

:markdown

  ## Spring 2024

  <p align="center"><img width="100%" src="https://bweslake.s3.amazonaws.com/images/kay-bee.jpg" alt="Andreas Kay, Orchid bee, Euglossa sp., Euglossini"></p>
  <blockquote class="caption">Andreas Kay, <a href="https://www.flickr.com/photos/andreaskay/27219431458">Orchid Bee (<em>Euglossa, Euglossini)</a></em></blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th>Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 130</td><td>567 West Yangsi Road, Room E201</td><td>Wednesdays, 5:15pm to 7:45pm</td></tr>
  </tbody>
  </table>

  ### Instructors

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  <tr><td><a href="http://annagreenspan.com/">Anna Greenspan</a></td><td><a href="mailto:ag158@nyu.edu">ag158@nyu.edu</a></td><td>567 West Yangsi Road, Room W847</td><td>By appointment</td></tr>
  </tbody>
  </table>
  
  *Updated*: 30 December 2023