Title: Brad Weslake &bull; Philosophy of Technology
Categories: teaching/2016
Template: class
Summary: A survey course in philosophy of technology.

%heading
  %h1 Philosophy of Technology

:markdown

  ## Fall 2016

  ### Overview
  A survey course in philosophy of technology, co-taught with [Anna Greenspan](http://annagreenspan.com/).
  
  *Updated*: 7 December 2019