%nav.research.group
  - display_menu(Nesta::Menu.for_path('/research/writing'), :root => '/research/writing', :class => 'writing')
  - display_menu(Nesta::Menu.for_path('/research/speaking'), :root => '/research/speaking', :class => 'speaking')
  - display_menu(Nesta::Menu.for_path('/research/resources'), :root => '/research/resources', :class => 'resources')