%nav.teaching.group
  - display_menu(Nesta::Menu.for_path('/teaching/2010'), :root => '/teaching/2010', :class => '2010')
  - display_menu(Nesta::Menu.for_path('/teaching/2009'), :root => '/teaching/2009', :class => '2009')
