#narrowcontent
  %article(role="main")
    ~ @page.to_html(self)

#narrowsidebar
  %nav.teaching.group
    - display_menu(Nesta::Menu.for_path('/teaching/2025'), :root => '/teaching/2025', :class => 'teaching/2025', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2024'), :root => '/teaching/2024', :class => 'teaching/2024', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2023'), :root => '/teaching/2023', :class => 'teaching/2023', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2022'), :root => '/teaching/2022', :class => 'teaching/2022', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2021'), :root => '/teaching/2021', :class => 'teaching/2021', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2020'), :root => '/teaching/2020', :class => 'teaching/2020', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2019'), :root => '/teaching/2019', :class => 'teaching/2019', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2017'), :root => '/teaching/2017', :class => 'teaching/2017', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2016'), :root => '/teaching/2016', :class => 'teaching/2016', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2015'), :root => '/teaching/2015', :class => 'teaching/2015', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2014'), :root => '/teaching/2014', :class => 'teaching/2014', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2013'), :root => '/teaching/2013', :class => 'teaching/2013', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2012'), :root => '/teaching/2012', :class => 'teaching/2012', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2010'), :root => '/teaching/2010', :class => 'teaching/2010', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2009'), :root => '/teaching/2009', :class => 'teaching/2009', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2008'), :root => '/teaching/2008', :class => 'teaching/2008', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2007'), :root => '/teaching/2007', :class => 'teaching/2007', :levels => 2)
