#narrowcontent
  %article(role="main")
    ~ @page.to_html(self)

#narrowsidebar
  %nav.teaching.group
    - display_menu(Nesta::Menu.for_path('/teaching/2015'), :root => '/teaching/2015', :class => 'teaching/2015', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2014'), :root => '/teaching/2014', :class => 'teaching/2014', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2013'), :root => '/teaching/2013', :class => 'teaching/2013', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2012'), :root => '/teaching/2012', :class => 'teaching/2012', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2010'), :root => '/teaching/2010', :class => 'teaching/2010', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2009'), :root => '/teaching/2009', :class => 'teaching/2009', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2008'), :root => '/teaching/2008', :class => 'teaching/2008', :levels => 2)
    - display_menu(Nesta::Menu.for_path('/teaching/2007'), :root => '/teaching/2007', :class => 'teaching/2007', :levels => 2)
