Title: Brad Weslake &bull; Philosophy of Science
Categories: teaching/2020
Template: class
Summary: An advanced introduction to philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Advanced Introduction to Philosophy of Science

:markdown

  ## Fall 2020

  <p align="center"><br/><img width="70%" src="http://bweslake.s3.amazonaws.com/images/faraday.png" alt="From Michael Faraday, Experimental Researches in Electricity">

  <blockquote class="caption">Michael Faraday's diagram of magnetic lines of force, from his &ldquo;Experimental Researches in Electricity&rdquo;, <em>Philosophical Transactions of the Royal Society of London</em>, Vol. 142, 1 January 1852, pp. 25&ndash;56.</blockquote></p>

  <a name="details"> </a>
  <h3>Details</h3>
  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-GA 3009</td><td><a href="http://goo.gl/j02G4q">5 Washington Place</a> 302</td><td>Mondays, 1:15pm to 3:15pm</td></tr>
  </tbody>
  </table>

  <a name="instructor"> </a>
  <h3>Instructor</h3>
  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>
  </tbody>
  </table>

  <a name="overview"> </a>
  <h3>Overview</h3>
  <p>This course will cover three central topics in general philosophy of science: explanation, laws and causation. The focus will be on how general issues intersect with some more applied topics in the particular sciences, with some candidates being: causal and non-causal explanation in evolutionary theory; explainability in artificial intelligence; explanation and understanding in climate modeling; the relationship between the idea that the dynamical laws of physics govern and the idea that they explain; and the relationship between the cognitive science of causal judgment and the metaphysics of causation. We will focus on the topics that those attending become most interested in.</p>

  <a name="assessment"> </a>
  <h3>Assessment</h3>
  <p>Requirements:</p>
  <ul class="assess">
  <li>Thirteen 1&ndash;2 page weekly reading summaries.</li>
  <li>One research paper. </li>
  </ul>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries: </td><td>The day before every class.</td></tr>
  <tr><td>Research Paper:  </td><td>Monday 14 December</td></tr>
  </tbody>
  </table>

  ### Schedule

  #### Meeting One: Introductory Discussion (Wednesday 9 September)

  #### Meeting Two: (Monday 14 September)

  #### Meeting Three: (Monday 21 September)

  #### Meeting Four: (Monday 28 September)

  #### Meeting Five: (Monday 5 October)

  #### Meeting Six: (Monday 12 October)

  #### Meeting Seven: (Monday 19 October)

  #### Meeting Eight: (Monday 26 October)

  #### Meeting Nine: (Monday 2 November)

  #### Meeting Ten: (Monday 9 November)

  #### Meeting Eleven: (Monday 16 November)

  #### Meeting Twelve: (Monday 23 November)
  
  #### Meeting Thirteen: (Monday 30 November)
  
  #### Meeting Fourteen: (Monday 7 December)

  *Updated*: 23 March 2020