Title: Brad Weslake &bull; Philosophy of Science Reading Group
Categories: teaching/2012
Template: class
Summary: A reading course on philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science Reading Group

:markdown
  ## Fall 2012 ##

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="Jean Perrin, Mouvement brownien et réalité moléculaire">

  <blockquote class="caption">From Jean Perrin, Mouvement brownien et réalité moléculaire, Annales de Chimie et de Physique 19 (8e série), 1909, 5-104.</blockquote></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate reading course in philosophy of science, with an emphasis on breadth over depth.  The reading list will evolve as the course progresses.  A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library at 2pm&ndash;4pm.

  ### Schedule

  #### Wednesday 19 September

  - #{bib.fullcite('beebee_2011a')}

  [bibtex]: /content/attachments/science.bib