Title: Brad Weslake &bull; Philosophy of Science Reading Group
Categories: teaching/2013
Template: class
Summary: A reading course on philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science Reading Group

:markdown
  ## Fall 2013 ##

  <br>
  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/ling.png" alt=""></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate-level reading group in philosophy of science, aiming at breadth rather than depth.  The reading list will evolve as the course progresses.  A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library in <a href="http://goo.gl/RSl9X">Lattimore Hall</a>, at 5pm&ndash;7pm.

  ### Schedule

  #### Wednesday 11 September

  - #{bib.fullcite('nagel_1961')}, Chapter 11.

  [bibtex]: /content/attachments/science.bib