Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I am a philosopher of science in the [Department of Philosophy][rocphi] at [University of Rochester][roc].  I also work in metaphysics and philosophy of mind.

    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"

    #### research
    My current projects concern the relationship between different levels of explanation in the sciences, the use of causal models to analyse token causation, the temporal asymmetry of causation, and the exclusion problem in philosophy of mind. <a href="./research" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>

    #### teaching
    This semester I am teaching [Darwin and Religion][darwin2013] (with [H. Allen Orr][allen]), [Science and Reason][reason2013], and a graduate reading course on the [direction of time][time2013]. <a href="./teaching" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>
    
    [darwin2013]: ./teaching/2013/darwin "Darwin and Religion"
    [allen]: http://www.rochester.edu/College/BIO/professors/orr.html "H. Allen Orr"
    [reason2013]: ./teaching/2013/reason "Science and Reason"
    [time2013]: ./teaching/2013/time "The Direction of Time"
    
    #### online
    I edit the category [Explanation][exp] in the [PhilPapers][pp] project, and am a contributor to the philosophy of science weblog [It's Only a Theory][only] and the metaphysics weblog [Matters of Substance][substance].

    [exp]: http://philpapers.org/browse/explanation "Explanation"
    [pp]: http://philpapers.org/ "PhilPapers"
    [only]: http://itisonlyatheory.blogspot.com/ "Only a Theory"
    [substance]: http://substantialmatters.blogspot.com/ "Matters of Substance"

    #### previously
    Before moving to Rochester in Fall 2007 I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].

    [huw]: http://prce.hu/w/ "Huw Price"
    [time]: http://www.usyd.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://www.arts.usyd.edu.au/philosophy/ "Department of Philosophy"
    [sydney]: http://www.usyd.edu.au/ "University of Sydney"

    #### contact
    <span class="sc">office</span>: 520 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>  
    <span class="sc">hours</span>: Tuesdays 11am–12pm, or by appointment.  
    <span class="sc">email</span>: <a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a>  
    <span class="sc">ph</span>: 585-276-3821  
    <span class="sc">fx:</span> 585-273-2964

%section.news
  %heading
    %h1 Upcoming
  :markdown
    - [Workshop][skow-workshop] on [Brad Skow][skow], *[Objective Becoming][becoming]*, MIT, 19 June.
    - “Explanation and The Explanatory Gap”, [Explanation in Metaphysics][neuchatel], Neuchâtel, 22-23 <span class="sc">jun</span>.
    - <span class="sc">tba</span>, *Causation: New Prospects*, Collège de France, Paris, 5-6 <span class="sc">dec</span>.
    
    [neuchatel]: http://explanationinmetaphysics.wordpress.com/ "Explanation in Metaphysics"
    [becoming]: http://web.mit.edu/bskow/www/book.html "Objective Becoming"
    [skow]: http://web.mit.edu/bskow/www/ "Brad Skow"
    [skow-workshop]: http://web.mit.edu/bskow/www/time-seminar.html "Skow Workshop"

%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
