Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I'm an Associate Professor of Philosophy at [NYU Shanghai][nyush], Global Network Professor of [Philosophy][nyu-phil] at [New York University][nyu], and a Guest Professor of Philosophy at [East China Normal University][ecnu].  I work in philosophy of science, especially causation and explanation, and on related topics in philosophy of physics, philosophy of biology and philosophy of mind.
    
    #### selected publications
    - “Exclusion Excluded”, in Alastair Wilson and Katie Robertson (Eds), *Levels of Explanation*, Oxford University Press, Oxford, 2024, pp. 101–135. <span class="sc">\[[pdf](https://philpapers.org/archive/WESEE.pdf)\]</span> 
    - “Difference-Making, Closure and Exclusion”, in Helen Beebee, Chris Hitchcock and Huw Price (Eds), *Making a Difference: Essays on the Philosophy of Causation*, Oxford University Press, Oxford, 2017, pp. 215–231. <span class="sc">\[[pdf](https://philpapers.org/archive/WESDCA-3.pdf)\]</span> 
    - “Statistical Mechanical Imperialism”, in Alastair Wilson (Ed), *Chance and Temporal Asymmetry*, Oxford University Press, Oxford, 2014, pp. 241–257. <span class="sc">\[[pdf](http://goo.gl/EUiAm)\]</span>
    - “Proportionality, Contrast and Explanation”, in *Australasian Journal of Philosophy*, <span class="sc">vol</span>. 91, <span class="sc">no</span>. 4, 2013, pp. 785–797. <span class="sc">\[[pdf](https://philpapers.org/archive/WESPCA-2.pdf)\]</span>
    - “Explanatory Depth”, in *Philosophy of Science*, <span class="sc">vol</span>. 77, <span class="sc">no</span>. 2, <span class="sc">apr</span> 2010, pp. 273–294. <span class="sc">\[[pdf](http://goo.gl/rS1DVw)\]</span> 
    - “The Time-Asymmetry of Causation” (with [Huw Price][huw]), in Helen Beebee, Chris Hitchcock and Peter Menzies (Eds), *Oxford Handbook of Causation*, Oxford University Press, Oxford, 2009, pp. 414–443. <span class="sc">\[[pdf](https://philpapers.org/archive/PRITTO.pdf)\]</span>

    #### contact
    <table>
    <tr><td style="vertical-align:top"><span class="sc">office</span></td><td>W826</td></tr>  
    <tr><td style="vertical-align:top"><span class="sc">mail</span></td><td>NYU Shanghai<br>
    567 West Yangsi Road<br>
    Pudong New District, Shanghai <code>200126</code><br>
    China</td></tr>
    <tr><td style="vertical-align:top"><span class="sc">email</span></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>  
    </table>

    [ecnu]: http://english.ecnu.edu.cn/ "ECNU"
    [nyu]: http://www.nyu.edu "NYU"
    [nyu-phil]: http://philosophy.fas.nyu.edu/ "NYU Philosophy"
    [nyush]: http://shanghai.nyu.edu "NYU Shanghai"
    [huw]: http://prce.hu/w/ "Huw Price"

%section.news
  %heading
    %h1 &nbsp;
    <img width="100%" src="https://bweslake.s3.amazonaws.com/images/bradweslake.jpg" alt="Brad Weslake">
    %h1 Events
  :markdown
    - “Fitness Anti-Reductionism”, *University of Missouri*, 27 February 2025.
    - “Commentary on Factual Difference-Making”, Technical Support Group, *NYU*, 1 October 2024.
    - “What is Causal Explanation?”, Lunch Talk, *NYU*, 20 September 2024.
    - “Causation, Information and Specificity”, Work in Progress Seminar, *NYU Shanghai*, 12 April 2024.
        
%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
