Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I am a philosopher of science in the [Department of Philosophy][rocphi] at [University of Rochester][roc].  I also work in metaphysics and philosophy of mind.

    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"

    #### research
    My current projects concern the relationship between different levels of explanation in the sciences, causal models and token causation, the temporal asymmetry of causation, and the exclusion problem. <a href="./cv#publications" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>

    #### teaching
    In Fall 2013 I am teaching introductory ([Science and Reason][reason-fall]) and advanced ([Philosophy of Science][science-fall]) classes in philosophy of science. <a href="./teaching" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>
    
    [reason-fall]: ./teaching/2013/reason-fall
    [science-fall]: ./teaching/2013/science
    
    #### online
    I edit the category [Explanation][exp] in the [PhilPapers][pp] project, and am a contributor to the philosophy of science weblog [It's Only a Theory][only] and the metaphysics weblog [Matters of Substance][substance].

    [exp]: http://philpapers.org/browse/explanation "Explanation"
    [pp]: http://philpapers.org/ "PhilPapers"
    [only]: http://itisonlyatheory.blogspot.com/ "Only a Theory"
    [substance]: http://substantialmatters.blogspot.com/ "Matters of Substance"

    #### previously
    Before moving to Rochester in Fall 2007 I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].

    [huw]: http://prce.hu/w/ "Huw Price"
    [time]: http://www.usyd.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://www.arts.usyd.edu.au/philosophy/ "Department of Philosophy"
    [sydney]: http://www.usyd.edu.au/ "University of Sydney"

    #### contact
    <span class="sc">office</span>: 520 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>  
    <span class="sc">hours</span>: Mondays 11am–12pm, or by appointment.  
    <span class="sc">email</span>: <a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a>  
    <span class="sc">ph</span>: 585-276-3821  
    <span class="sc">fx:</span> 585-273-2964

%section.news
  %heading
    %h1 Upcoming
  :markdown
    - “Why Think Causally?”, *Causation: New Prospects*, [Collège de France][cdf], Paris, 5-6 <span class="sc">dec</span>.
    - Session on Temporal Passage with [Nicky Kroll][kroll] and [Natalja Deng][deng], [Central APA][centralapa], Chicago, 27 <span class="sc">feb</span>.
    
    [centralapa]: http://www.apaonline.org/events/event_details.asp?id=318165 "Central APA"
    [marist]: http://www.marist.edu/liberalarts/philrel/ "Marist College: Philosophy and Religious Studies"
    [cdf]: http://www.college-de-france.fr/site/en-college/ "Collège de France"
    [kroll]: http://www.fandm.edu/nick-kroll "Nicky Kroll"
    [deng]: http://nd.academia.edu/NataljaDeng "Natalja Deng"
    
%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
