Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I'm a philosopher in the [Department of Philosophy][rocphi] at [The University of Rochester][roc].  Previously, I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].
    
    #### selected publications

    - “A Partial Theory of Actual Causation”, in *The British Journal for the Philosophy of Science*, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/tpW8kx)\]</span>
    - “Difference-Making, Closure and Exclusion”, in Helen Beebee, Chris Hitchcock and Huw Price (Eds), *Making a Difference*, Oxford University Press, Oxford, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/XmEyby)\]</span> 
    - “Statistical Mechanical Imperialism”, in Alastair Wilson (Ed), *Chance and Temporal Asymmetry*, Oxford University Press, Oxford, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/EUiAm)\]</span>
    - “Proportionality, Contrast and Explanation”, in *Australasian Journal of Philosophy*, <span class="sc">vol</span>. 91, <span class="sc">no</span>. 4, 2013, pp. 785–797. <span class="sc">\[[pdf](http://goo.gl/iAB3v)\]</span>
    - “Explanatory Depth”, in *Philosophy of Science*, <span class="sc">vol</span>. 77, <span class="sc">no</span>. 2, <span class="sc">apr</span> 2010, pp. 273–294. <span class="sc">\[[pdf](http://goo.gl/rS1DVw)\]</span> 
    - “The Time-Asymmetry of Causation” (with Huw Price), in Helen Beebee, Chris Hitchcock and Peter Menzies (Eds), *Oxford Handbook of Causation*, Oxford University Press, Oxford, 2009, pp. 414–443. <span class="sc">\[[pdf](http://goo.gl/cZd6HC)\]</span> 
    
    #### contact
    <span class="sc">office</span>: 520 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>  
    <span class="sc">hours</span>: Wednesdays 11am–12pm, or by appointment.  
    <span class="sc">email</span>: <a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a>  
    <span class="sc">ph</span>: 585-276-3821  
    <span class="sc">fx:</span> 585-273-2964

    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"
    [huw]: http://prce.hu/w/ "Huw Price"
    [time]: http://sydney.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://sydney.edu.au/arts/philosophy/ "Department of Philosophy"
    [sydney]: http://sydney.edu.au/ "University of Sydney"    

%section.news
  %heading
    %h1 Events
  :markdown
    - “Selection, Drift, and Causal Explanation”, [Explanation Beyond Causation][ebc], [Munich Center for Mathematical Philosophy][mcmp], [Ludwig-Maximilians-Universität München][lmu], 23-24 <span class="sc">oct</span>.
    - Mental Causation: Old Problems, New Solutions?, [Center for Logic and Analytic Philosophy][clap], [Institute of Philosophy][ip], [Katholieke Universiteit Leuven][ku], 20–21 <span class="sc">nov</span>.
    
    [oberlin]: https://new.oberlin.edu/arts-and-sciences/departments/philosophy/colloquium.dot "Oberlin Colloquium in Philosophy"
    [clap]: http://hiw.kuleuven.be/claw "CLAP"
    [ip]: http://hiw.kuleuven.be/eng "IP"
    [ku]: http://www.kuleuven.be/english "KU Leuven"
    [ebc]: http://www.ebc2014.philosophie.uni-muenchen.de/index.html "Explanation Beyond Causation"
    [mcmp]: http://www.mcmp.philosophie.uni-muenchen.de/index.html "MCMP"
    [lmu]: http://www.en.uni-muenchen.de/index.html "LMU"
    
%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
