Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I'm a philosopher at [New York University][nyu].  In Fall 2014 I'm a Visiting Associate Professor in [New York][nyu-phil], and from Spring 2015 will be an Associate Professor in [Shanghai][nyush].  Previously I was an Assistant Professor in the [Department of Philosophy][rocphi] at [The University of Rochester][roc].  Earlier still, I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].
    
    #### selected publications

    - “A Partial Theory of Actual Causation”, in *The British Journal for the Philosophy of Science*, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/tpW8kx)\]</span>
    - “Difference-Making, Closure and Exclusion”, in Helen Beebee, Chris Hitchcock and Huw Price (Eds), *Making a Difference*, Oxford University Press, Oxford, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/XmEyby)\]</span> 
    - “Statistical Mechanical Imperialism”, in Alastair Wilson (Ed), *Chance and Temporal Asymmetry*, Oxford University Press, Oxford, 2014, pp. 241–257. <span class="sc">\[[pdf](http://goo.gl/EUiAm)\]</span>
    - “Proportionality, Contrast and Explanation”, in *Australasian Journal of Philosophy*, <span class="sc">vol</span>. 91, <span class="sc">no</span>. 4, 2013, pp. 785–797. <span class="sc">\[[pdf](http://goo.gl/iAB3v)\]</span>
    - “Explanatory Depth”, in *Philosophy of Science*, <span class="sc">vol</span>. 77, <span class="sc">no</span>. 2, <span class="sc">apr</span> 2010, pp. 273–294. <span class="sc">\[[pdf](http://goo.gl/rS1DVw)\]</span> 
    - “The Time-Asymmetry of Causation” (with [Huw Price][huw]), in Helen Beebee, Chris Hitchcock and Peter Menzies (Eds), *Oxford Handbook of Causation*, Oxford University Press, Oxford, 2009, pp. 414–443. <span class="sc">\[[pdf](http://goo.gl/cZd6HC)\]</span> 

    #### contact
    <table>
    <tr><td style="vertical-align:top"><span class="sc">office</span></td><td>506</td></tr>  
    <tr><td style="vertical-align:top"><span class="sc">mail</span></td><td>Department of Philosophy<br>
    5 Washington Place<br>
    New York, <span class="sc">ny</span><code>10003</code></td></tr>
    <tr><td style="vertical-align:top"><span class="sc">email</span></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>  
    <tr><td style="vertical-align:top"><span class="sc">fax</span></td><td><code>+1 212 995 4179</code></td></tr>
    </table>

    [nyu]: http://www.nyu.edu "NYU"
    [nyu-phil]: http://philosophy.fas.nyu.edu/ "NYU Philosophy"
    [nyush]: http://shanghai.nyu.edu "NYU Shanghai"
    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"
    [huw]: http://prce.hu/w/ "Huw Price"
    [time]: http://sydney.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://sydney.edu.au/arts/philosophy/ "Department of Philosophy"
    [sydney]: http://sydney.edu.au/ "University of Sydney"    

%section.news
  %heading
    %h1 Events
  :markdown
    - “Selection, Drift, and Causal Explanation” [\[PDF\]][sdce], [NY/NJ Philosophy of Science Group][nyphilsci], 7 <span class="sc">nov</span>.
    - “Why Think Causally?”, *Causation: A Workshop with Ned Hall*, Universität zu Köln, 10 <span class="sc">nov</span>.
    - *Mental Causation: Old Problems, New Solutions?*, [Center for Logic and Analytic Philosophy][clap], [Institute of Philosophy][ip], [Katholieke Universiteit Leuven][ku], 20–21 <span class="sc">nov</span>.
    
    [clap]: http://hiw.kuleuven.be/claw "CLAP"
    [ip]: http://hiw.kuleuven.be/eng "IP"
    [ku]: http://www.kuleuven.be/english "KU Leuven"
    [nyphilsci]: http://nyphilsci.wordpress.com/ "NY/NJ Philosophy of Science Group"
    [lmu]: http://www.en.uni-muenchen.de/index.html "LMU"
    [sdce]: http://bweslake.s3.amazonaws.com/research/talks/statistical-explanations-slides.pdf "Selection, Drift, and Causal Explanation"
    
%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
