Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h4 &nbsp;
  :markdown
    I'm an Associate Professor of Philosophy at [NYU Shanghai][nyush], Global Network Professor of [Philosophy][nyu-phil] at [New York University][nyu], and a Guest Professor of Philosophy at [East China Normal University][ecnu].  I work in philosophy of science, especially on causation and explanation, and on related topics in philosophy of physics, philosophy of biology and philosophy of mind.
    
    #### selected publications
    - “[Exclusion Excluded](https://philpapers.org/archive/wesee.pdf)”, in Alastair Wilson and Katie Robertson (Eds), *Levels of Explanation*, Oxford, 2024, pp. 101–135.
    - “[Difference-Making, Closure and Exclusion](https://philpapers.org/archive/wesdca-3.pdf)”, in Helen Beebee, Chris Hitchcock and Huw Price (Eds), *Making a Difference: Essays on the Philosophy of Causation*, Oxford, 2017, pp. 215–231.
    - “[Statistical Mechanical Imperialism](http://philpapers.org/archive/wessmi.pdf)”, in Alastair Wilson (Ed), *Chance and Temporal Asymmetry*, Oxford, 2014, pp. 241–257.
    - “[Proportionality, Contrast and Explanation](http://philpapers.org/archive/wespca-2.pdf)”, in *Australasian Journal of Philosophy*, <span class="sc">vol</span>. 91, <span class="sc">no</span>. 4, 2013, pp. 785–797.
    - “[Explanatory Depth](http://philpapers.org/archive/wesed.pdf)”, in *Philosophy of Science*, <span class="sc">vol</span>. 77, <span class="sc">no</span>. 2, <span class="sc">apr</span> 2010, pp. 273–294.
    - “[The Time-Asymmetry of Causation](http://philpapers.org/archive/pritto.pdf)” (with [Huw Price][huw]), in Helen Beebee, Chris Hitchcock and Peter Menzies (Eds), *The Oxford Handbook of Causation*, Oxford, Oxford, 2009, pp. 414–443.

    #### contact
    <table>
    <tr><td style="vertical-align:top"><span class="sc">office</span></td><td>W826</td></tr>  
    <tr><td style="vertical-align:top"><span class="sc">mail</span></td><td>NYU Shanghai<br>
    567 West Yangsi Road<br>
    Pudong New District, Shanghai <code>200126</code><br>
    China</td></tr>
    <tr><td style="vertical-align:top"><span class="sc">email</span></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>  
    </table>

    [ecnu]: http://english.ecnu.edu.cn/ "ECNU"
    [nyu]: http://www.nyu.edu "NYU"
    [nyu-phil]: http://philosophy.fas.nyu.edu/ "NYU Philosophy"
    [nyush]: http://shanghai.nyu.edu "NYU Shanghai"
    [huw]: http://prce.hu/w/ "Huw Price"

%section.news
  %heading
    %h4 &nbsp;
    <img width="100%" src="https://bweslake.s3.amazonaws.com/images/bradweslake.jpg" alt="Brad Weslake">
    %h4 Events
  :markdown
    - “Causation and Entanglement”, Boundary-Crossing of Philosophy, *Zhengzhou University*, 26–27 September 2025.
    - “A Puzzle About High-Level Causation”, Parisation, *Paris*, 15 July 2025.
    - “Causation and Entanglement”, Mind Research Group, *Rutgers*, 11 April 2025.
    - “Fitness Anti-Reductionism”, The Philosophy of Biology: Evolution and Individuation, *NYU*, 10 April 2025.
    - “Fitness Anti-Reductionism”, *University of Missouri*, 27 February 2025.
    - “Commentary on Factual Difference-Making”, Technical Support Group, *NYU*, 1 October 2024.
    - “What is Causal Explanation?”, Lunch Talk, *NYU*, 20 September 2024.