Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I am a philosopher of science in the [Department of Philosophy][rocphi] at [University of Rochester][roc].  I also work in metaphysics and philosophy of mind.

    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"

    #### research
    My current projects concern the relationship between different levels of explanation in the sciences, the use of causal models to analyse token causation, the temporal asymmetry of causation, and the exclusion problem in philosophy of mind.  
    [<span class="sc">current</span>][current] | [<span class="sc">publications</span>][pubs] | [<span class="sc">talks</span>][talks] |  [<span class="sc">resources</span>][resources]

    [current]: ./research/current/ "Current Research"
    [pubs]: ./research/publications/ "Publications"
    [talks]: ./research/talks/ "Talks"
    [resources]: ./research/resources/ "Resources"

    #### teaching
    Past and future classes may be seen [here][teaching].

    [teaching]: ./teaching/ "Teaching"

    #### online
    I edit the category [Explanation][exp] in the [PhilPapers][pp] project, and am a contributor to the philosophy of science weblog [It's Only a Theory][only] and the metaphysics weblog [Matters of Substance][substance].

    [exp]: http://philpapers.org/browse/explanation "Explanation"
    [pp]: http://philpapers.org/ "PhilPapers"
    [only]: http://itisonlyatheory.blogspot.com/ "Only a Theory"
    [substance]: http://substantialmatters.blogspot.com/ "Matters of Substance"

    #### previously
    Before moving to Rochester in Fall 2007 I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].

    [huw]: http://www.usyd.edu.au/time/price/ "Huw Price"
    [time]: http://www.usyd.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://www.arts.usyd.edu.au/philosophy/ "Department of Philosophy"
    [sydney]: http://www.usyd.edu.au/ "University of Sydney"

    #### contact
    519 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>  
    <a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a>  
    <span class="sc">ph</span>: 585-276-3821  
    <span class="sc">fx:</span> 585-273-2964

%section.news
  %heading
    %h1 News
  :markdown
    - Office hours this semester are Thursdays 4pm–5pm.
    - [Rich Glor][glor] ("Darwin's Five Theories of Evolution") and I ("Was Darwin a Materialist?") will be speaking to the [Rochester Secular Student Alliance][rssa] on [Darwin Day][dday], 12 February. My slides are available [here][slides].
    - I'm speaking at the [MIT Work in Progress Seminar][wip] on 15 March.
    - I'm commenting on a paper by [Carolina Sartorio][carolina] at the [Pacific APA][pacific].
    - I'm speaking at the workshop "Semantics and Pragmatics of Ceteris Paribus Conditions" hosted by the research project [Causation, Laws, Dispositions, and Explanation][dfg], in Düsseldorf on 28-29 June.

    [allen]: http://www.rochester.edu/College/BIO/professors/orr.html "H. Allen Orr"
    [darwin]: ./teaching/2012/darwin/ "Darwin and Religion"
    [reason]: ./teaching/2012/reason/ "Science and Reason"
    [perception]: ./teaching/2012/perception/ "Perception"
    [carolina]: http://www.u.arizona.edu/~sartorio/ "Carolina Sartorio"
    [pacific]: http://apa-pacific.org/current/ "Pacific APA"
    [wip]: http://www.mit.edu/~philos/wipseminar.html "MIT Work in Progress Seminar"
    [rssa]: https://sa.rochester.edu/clubs/RSSA/ "Rochester Secular Student Alliance"
    [dday]: http://darwinday.org/ "Darwin Day"
    [glor]: http://lacertilia.com/ "The Glor Lab"
    [dfg]: http://www.clde.uni-koeln.de/ "Causation, Laws, Dispositions, and Explanation"
    [slides]: http://goo.gl/KzVLl

%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
