Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I am a philosopher of science in the [Department of Philosophy][rocphi] at [University of Rochester][roc].  I also work in metaphysics and philosophy of mind.

    [rocphi]: http://www.rochester.edu/college/phl/ "Department of Philosophy"
    [roc]:  http://www.rochester.edu/ "University of Rochester"

    #### research
    My current projects concern the relationship between different levels of explanation in the sciences, the use of causal models to analyse token causation, the temporal asymmetry of causation, and the exclusion problem in philosophy of mind. <a href="./research" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>

    #### teaching
    In Fall 2012 I will be teaching a graduate seminar on causation and an upper level undergraduate class in philosophy of science. <a href="./teaching" style="text-decoration:none; font-size:1.25em; line-height: 1em">&rarr;</a>

    #### online
    I edit the category [Explanation][exp] in the [PhilPapers][pp] project, and am a contributor to the philosophy of science weblog [It's Only a Theory][only] and the metaphysics weblog [Matters of Substance][substance].

    [exp]: http://philpapers.org/browse/explanation "Explanation"
    [pp]: http://philpapers.org/ "PhilPapers"
    [only]: http://itisonlyatheory.blogspot.com/ "Only a Theory"
    [substance]: http://substantialmatters.blogspot.com/ "Matters of Substance"

    #### previously
    Before moving to Rochester in Fall 2007 I wrote a PhD under the direction of [Huw Price][huw] at the [Centre for Time][time], [Department of Philosophy][sydphil], [University of Sydney][sydney].

    [huw]: http://prce.hu/w/ "Huw Price"
    [time]: http://www.usyd.edu.au/centre_for_time/ "Centre for Time"
    [sydphil]: http://www.arts.usyd.edu.au/philosophy/ "Department of Philosophy"
    [sydney]: http://www.usyd.edu.au/ "University of Sydney"

    #### contact
    520 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>  
    <a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a>  
    <span class="sc">ph</span>: 585-276-3821  
    <span class="sc">fx:</span> 585-273-2964

%section.news
  %heading
    %h1 Upcoming
  :markdown
    - “Difference-Making, Closure and Exclusion”, [Current Projects Seminar][usydseminars], [University of Sydney][usyd], 23 <span class="sc">jul</span>.
    - “Difference-Making, Closure and Exclusion”, [Thursday Seminar][thursday], [ANU][anu], 16 <span class="sc">aug</span>.
    - “Difference-Making, Closure and Exclusion”, [Wednesday Seminar][usydseminars], [University of Sydney][usyd], 22 <span class="sc">aug</span>.
    - “Difference-Making, Closure and Exclusion”, Causation Workshop at [Macquarie University][macquarie], 23 <span class="sc">aug</span>.
    - Session on Metaphysical Grounding, Eastern APA, Atlanta, 27-30 <span class="sc">dec</span>.
    - Comments on [Ned Hall][ned], Tucson, 30 <span class="sc">jan</span>-3 <span class="sc">feb</span> 2013.

    [allen]: http://www.rochester.edu/College/BIO/professors/orr.html "H. Allen Orr"
    [darwin]: ./teaching/2012/darwin/ "Darwin and Religion"
    [reason]: ./teaching/2012/reason/ "Science and Reason"
    [perception]: ./teaching/2012/perception/ "Perception"
    [carolina]: http://www.u.arizona.edu/~sartorio/ "Carolina Sartorio"
    [pacific]: http://apa-pacific.org/current/ "Pacific APA"
    [wip]: http://www.mit.edu/~philos/wipseminar.html "MIT Work in Progress Seminar"
    [cp]: http://www.phil-fak.uni-duesseldorf.de/ceteris-paribus "Semantics and Pragmatics of Ceteris Paribus Conditions"
    [aap]: http://www.aap-conferences.org.au/ "Australasian Association of Philosophy"
    [ned]: http://www.fas.harvard.edu/~phildept/hall.html "Ned Hall"
    [thursday]: http://philrsss.anu.edu.au/regular-seminars/seminars "Thursday Seminars"
    [anu]: http://philrsss.anu.edu.au/ "ANU Philosophy"
    [usydseminars]: http://usydseminars.blogspot.com.au/ "Sydney Seminars"
    [usyd]: http://sydney.edu.au/arts/philosophy/ "University of Sydney Philosophy"
    [macquarie]: http://www.mq.edu.au/about_us/faculties_and_departments/faculty_of_arts/department_of_philosophy/ "Macquarie University Philosophy"

%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
