Title: Brad Weslake
Template: home

%section.overview
  %heading
    %h1 &Pi;
  :markdown
    I'm a philosopher at [New York University][nyu] in [Shanghai][nyush].  I work in philosophy of science, especially causation and explanation, and on related topics in philosophy of physics, philosophy of biology and philosophy of mind.
    
    #### selected publications

    - “A Partial Theory of Actual Causation”, in *The British Journal for the Philosophy of Science*, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/tpW8kx)\]</span>
    - “Difference-Making, Closure and Exclusion”, in Helen Beebee, Chris Hitchcock and Huw Price (Eds), *Making a Difference*, Oxford University Press, Oxford, *forthcoming*. <span class="sc">\[[pdf](http://goo.gl/XmEyby)\]</span> 
    - “Statistical Mechanical Imperialism”, in Alastair Wilson (Ed), *Chance and Temporal Asymmetry*, Oxford University Press, Oxford, 2014, pp. 241–257. <span class="sc">\[[pdf](http://goo.gl/EUiAm)\]</span>
    - “Proportionality, Contrast and Explanation”, in *Australasian Journal of Philosophy*, <span class="sc">vol</span>. 91, <span class="sc">no</span>. 4, 2013, pp. 785–797. <span class="sc">\[[pdf](http://goo.gl/iAB3v)\]</span>
    - “Explanatory Depth”, in *Philosophy of Science*, <span class="sc">vol</span>. 77, <span class="sc">no</span>. 2, <span class="sc">apr</span> 2010, pp. 273–294. <span class="sc">\[[pdf](http://goo.gl/rS1DVw)\]</span> 
    - “The Time-Asymmetry of Causation” (with [Huw Price][huw]), in Helen Beebee, Chris Hitchcock and Peter Menzies (Eds), *Oxford Handbook of Causation*, Oxford University Press, Oxford, 2009, pp. 414–443. <span class="sc">\[[pdf](http://goo.gl/cZd6HC)\]</span> 

    #### contact
    <table>
    <tr><td style="vertical-align:top"><span class="sc">office</span></td><td>1226</td></tr>  
    <tr><td style="vertical-align:top"><span class="sc">mail</span></td><td>NYU Shanghai<br>
    1555 Century Avenue<br>
    Pudong New District, Shanghai <code>200122</code><br>
    China</td></tr>
    <tr><td style="vertical-align:top"><span class="sc">email</span></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>  
    </table>

    [nyu]: http://www.nyu.edu "NYU"
    [nyu-phil]: http://philosophy.fas.nyu.edu/ "NYU Philosophy"
    [nyush]: http://shanghai.nyu.edu "NYU Shanghai"
    [huw]: http://prce.hu/w/ "Huw Price"

%section.news
  %heading
    %h1 Events
  :markdown
    - Invited *Author Meets Critics* session on [Brad Skow][skow], [*Reasons Why*][reasons-why], [Eastern Division Meeting][eastern] of the [American Philosophical Association][apa], Savannah GA, 3–6 <span class="sc">jan</span> 2018.
    
    [skow]: http://web.mit.edu/bskow/www/ "Brad Skow"
    [eastern]: http://www.apaonline.org/events/EventDetails.aspx?id=800533&amp; "Eastern"
    [apa]: http://www.apaonline.org/ "APA"
    [reasons-why]: https://global.oup.com/academic/product/reasons-why-9780198785842 "Reasons Why"
    
%section.articles
  %heading
    %h1 Blog
  %ol
    - latest_articles(5).each do |article|
      %li
        %article
          %header
            %h1
              %a(href="#{article.abspath}")= article.heading
          = haml :page_meta, :layout => false, :locals => { :page => article }
    %li
      :markdown
        [Subscribe](./articles.xml "Subscribe to Atom Feed")
