Title: Brad Weslake &bull; Logic
Categories: teaching/2015
Template: class
Summary: A philosophical introduction to formal reasoning.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/logic.bib')

%heading
  %h1 Logic

:markdown

  ## Fall 2015

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/waples-photographic-paintings.jpg" alt="Matt Waples, Photographic Paintings Using Light and Miscellaneous Liquids"></p>
  <blockquote class="caption">Matt Waples, <em>Photographic Paintings Using Light and Miscellaneous Liquids</em>, 2014.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 70-001 (19361)</td><td>1555 Century Avenue, Room 304</td><td>Tuesdays and Thursdays, 1:45pm–3:00pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 3:00pm–4:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is an introduction to the use of formal reasoning in philosophy.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract and evaluate deductive arguments from written text.
  * Extract and evaluate inductive arguments from written text.
  * Apply the tools of deductive logic and  probability theory to the analysis of arguments.
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Contribute to constructive philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>One exam.</li>
  <li>Two 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Exam: </td><td>20% </td></tr>
  <tr><td>First Paper: </td><td>30% </td></tr>
  <tr><td>Second Paper: </td><td>40% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Exam: </td><td>Thursday 24 September</td><td></td></tr>
  <tr><td>First Paper: </td><td>Tuesday 3 November</td><td></td></tr>
  <tr><td>Second Paper: </td><td>Tuesday 8 December</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Logic? (Tuesday 27 January)

  ### Section I: Deductive Logic

  ### Section II: Probability Theory

  *Updated*: 26 August 2015