Title: Brad Weslake &bull; Causal Inference
Categories: teaching/2021
Template: class
Summary: A graduate seminar on causal inference.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/causation.bib')

%heading
  %h1 Causal Inference

:markdown

  ## Spring 2021

  <p align="center"><br/><img width="30%" src="http://bweslake.s3.amazonaws.com/images/inkdrop.jpg" alt="Inkdrop"></p>

  <a name="details"> </a>
  <h3>Details</h3>
  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>TBD</td><td>TBD</td><td>TBD</td></tr>
  </tbody>
  </table>

  <a name="instructors"> </a>
  <h3>Instructors</h3>
  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th></tr>
  </thead>
  <tbody>
  <tr><td>Jeffrey Erlich</td><td><a href="mailto:jce216@nyu.edu">jce216@nyu.edu</a></td></tr>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>
  </tbody>
  </table>

  <a name="overview"> </a>
  <h3>Overview</h3>
  <p>This is a graduate seminar on causal inference, modeled on Brady Neal's <a href="https://www.bradyneal.com/causal-inference-course">Introduction to Causal Inference</a>.</p>

  <a name="assessment"> </a>
  <h3>Assessment</h3>
  <p>Requirements:</p>
  <ul class="assess">
  <li>Participation.</li>
  <li>Lead discussion section.</li>
  </ul>


  ### Schedule

  Coming soon!
  
  *Updated*: 9 January 2021