Title: Brad Weslake &bull; Philosophy of Technology (Postgraduate)
Categories: teaching/2021
Template: class
Summary: A historically oriented introduction to philosophy of technology focussing on the theme of simulation. This is the postgraduate section.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/technology.bib')

%heading
  %h1 Philosophy of Technology (Postgraduate)

:markdown

  ## Spring 2021

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>MCC-GE 2126 095</td><td>16 Qi Xia Road, Room 901</td><td>Thursdays, 1:30pm to 4:00pm</td></tr>
  </tbody>
  </table>

  ### Instructors

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Anna Greenspan</td><td><a href="mailto:ag158@nyu.edu">ag158@nyu.edu</a></td><td>1555 Century Avenue</td><td>By appointment.</td></tr>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 961</td><td>By appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This class is a historically oriented introduction to philosophy of technology, focussing on the theme of simulation.

  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>15% </td></tr>
  <tr><td>Weekly reading assignments: </td><td>15% </td></tr>
  <tr><td>Midterm Exam: </td><td>30% </td></tr>
  <tr><td>Final paper: </td><td>40% </td></tr>

  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Midterm Exam: </td><td>Thursday 10 March</td><td></td></tr>
  <tr><td>Final Paper Outline: </td><td>Monday 21 May</td><td></td></tr>
  <tr><td>Final Paper: </td><td>Thursday 12 May</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructors. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All course readings can be found [here](https://nyu.box.com/v/technology-readings).
  
  ### Schedule

  #### Meeting 1: The West I: Plato (Thursday 28 January)

  - Plato, c375BC, *Republic*, Chapter VII. Translated by G.M.A. Grube, revised by C.D.C. Reeve, in John M. Cooper (Ed), *Plato: Complete Works*, Hackett, Indianapolis IN, 1997, pp. 1132-1155. [[PDF](https://nyu.box.com/v/plato-republic-vii)]
  - #{bib.fullcite('moss_2006')} [[PDF](https://nyu.box.com/v/moss-pleasure-illusion-plato)]

  #### Meeting 2: (Thursday 4 February)
  
  #### Spring Festival: 11–19 February

  #### Meeting 3: (Thursday 25 February)

  #### Meeting 4: (Thursday 4 March)

  #### Meeting 5: (Thursday 11 March)

  #### Meeting 6: (Thursday 18 March)

  #### Meeting 7:  (Thursday 25 March)

  #### Meeting 8:  (Thursday 1 April)

  #### Qingming: 5–7 April

  #### Meeting 9:  (Thursday 8 April)

  #### Meeting 10:  (Thursday 15 April)

  #### Meeting 11:  (Thursday 22 April)

  #### Meeting 12:  (Thursday 29 April)

  #### Meeting 13:  (Thursday 6 May)

  #### Meeting 14:  (Thursday 13 May)
  
  *Updated*: 9 January 2021